{% extends 'layouts/master.html' %}
{% block contain %}
<form action="/edit_note" method="post">
  <input name="id" type="hidden" value="{{ data['main_note']['title'] }}"/>
  <div class="row">
    <div class="col-xs-6">
      <a href="/notes" class="btn btn-danger">Back</a>
    </div>
    <div class="col-xs-6 text-right">
      <button type="submit" class="btn btn-success">Edit</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <input type="text" name="title" class="form-control" required value="{{ data['main_note']['title'] }}">
    <textarea name="text" class="form-control" rows="10" required>{{ data['main_note']['text'] }}</textarea>
  </div>
</form>
{% endblock %}
